<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <title>Para-anno</title>
  </head>
  <body>
    <h1>{{user}}/{{docpair}}</h1>

    <div class="container">

      <div class="row">
	<div class="col-4 p-1">
	  <button type="button" class="btn btn-sm btn-dark" id="prevdoc"><span class="fa fa-chevron-left"/></button>&nbsp;
	  <button type="button" class="btn btn-sm btn-dark" id="nextdoc"><span class="fa fa-chevron-right"/></button>&nbsp;
	  <button type="button" class="btn btn-sm btn-dark" id="save">Save</button>
	</div>
      </div>
      
      <div class="row">
	<div class="col-6 p-1 border" style="height:50vh;max-height:50vh;overflow-y:scroll;" id="text-left">
	  Left <span style="color:red">text</span>
	</div>
	
	<div class="col-6 p-1 border" style="height:50vh;max-height:50vh;overflow-y:scroll;" id="text-right">
	  Right text
	</div>

      </div> <!-- row-->

      <div class="row border">
	<div class="col-1 p-1">
	  <a href="#" id="pluspair"><span class="fa fa-plus-circle spanadd" /></a>
	</div>
      </div>

      <div class="row border" style="max-height:40vh;overflow-y:scroll">
	<div class="col-12 container" id="annotations">

	  <!-- here go the annotations! -->
	  
	</div> <!-- container -->
      </div> <!-- row-->
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script>

      function dirty() {
	  $("#prevdoc").addClass("disabled");
	  $("#nextdoc").addClass("disabled");
	  $("#save").removeClass("disabled");
      }

      function clean() {
	  $("#prevdoc").removeClass("disabled");
	  $("#nextdoc").removeClass("disabled");
	  $("#save").addClass("disabled");
      }
	  
	  
      function get_all_data() {
	  var anns=[];
	  $.each($(".onepair"), function (i,e) {
	      anns.push({"txt":$("#pairtext",$(this)).val()});
	  }
		);
	  return anns;
      }

      function save_data() {
	  console.log("clean");
	  clean();
      }
      
      function new_empty_pair() {
	  elem=`
          <div class="row border onepair">
	    <div class="col-1">
	      <a href="#" class="killpair"> <span class="fa fa-trash-o" /> </a> &nbsp; &nbsp; 
	      <a href="#" class="dupepair"> <span class="fa fa-files-o" /> </a>
	    </div>
           
	    <div class="col-11 p-1">
	      <textarea id="pairtext" style="width:100%;"></textarea>
	    </div>
	  </div>`

	  $(elem).prependTo($("#annotations"));
      }

      function dupe_pair() {
	  $(this).parent().parent().clone().insertBefore($(this).parent().parent());
      }
      
      function kill_pair() {
	  $(this).parent().parent().remove();
      }

      $(document).ready(
	  function() {
	      $("#pluspair").on("click", new_empty_pair);
	  }
      );

      $(document).on("click",".killpair", kill_pair);
      $(document).on("click",".dupepair", dupe_pair);
      $(document).on("input","#pairtext",dirty);
      $("#save").on("click",save_data);
      </script>

    
  </body>
</html>
